<small *ngIf='!valid'>{{validMsg}}</small>
<form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-horizontal">
    <fieldset>
        <div align='center'>
            <legend>Edit</legend>
        </div>
        <div align='center'>
            <div class="form-group">
                <label align='left' for="name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-2">
                    <input type="text" class="form-control" id="name" name='name' [(ngModel)]='service.editEmployee.name' />
                </div>
            </div>
            <div class="form-group">
                <label align='left' for="phoneNumber" class="col-lg-2 control-label">Phone Number</label>
                <div class="col-lg-2">
                    <input type="text" class="form-control" id="inputPassword" name='phoneNumber' [(ngModel)]='service.editEmployee.phoneNumber' />
                </div>
            </div>
            <div class="form-group">
                <label align='left' for="supervisor" class="col-lg-2 control-label">Supervisor</label>
                <div class="col-lg-2">
                    <input type="text" class="form-control" id="supervisor" name='password' [(ngModel)]='service.editEmployee.supervisor' />
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <div align=center class="col-lg-10 col-lg-offset-4 ">
                    <button type='submit' class="btn btn-primary mr-2 mb-2">Save</button>
                </div>
            </div>
            <div align=center class="col-lg-10 col-lg-offset-4 ">
                <button type='button' class="btn btn-primary mr-2 mb-2" (click)="goToDashBoard()">Cancel</button>
            </div>
        </div>
    </fieldset>
</form>